<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nozariv2">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- FEATURES -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".OverlayedPageDisplay"></activity>
        <activity android:name=".ImageTester" />
        <activity android:name=".Pages"></activity>
        <activity android:name=".books.NewBook" />
        <activity android:name=".books.SelectBook" />
        <activity android:name=".authentication.ForgotPassword" />
        <activity
            android:name=".StartSplash"
            android:label="@string/title_activity_start_splash"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".OCRTranslationSplash" />
        <activity android:name=".authentication.Register" />
        <activity android:name=".books.Books" />
        <activity android:name=".OCRMoMoSplash" />
        <activity
            android:name=".authentication.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OCRCameraNew"
            android:label="@string/title_activity_ocrcamera"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nozariv2.Home" />
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".authentication.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nozariv2.authentication.Login" />
        </activity>
        <activity
            android:name=".CameraX"
            android:label="@string/title_activity_ocrcamera"
            android:parentActivityName=".authentication.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nozariv2.authentication.Login" />
        </activity>
    </application>

</manifest>